@charset "UTF-8";
@import url(responsiviness.css);

/*Estilo geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --font1:"DM sans";
    --btn-color:#FDFDFD;
    --btn-hover:#fff;
    --border-color:#ccc;
}
body{
    background:url(../img/maos-da-medica-irreconhecivel-escrevendo-no-formulario-e-digitando-no-teclado-do-laptop.jpg) center no-repeat;
  

 
}
main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*Estilização do to-do-list*/ 

#todo-clinic-form{
    background-color: white;
}
button{
    background: var(--btn-color);
    color:#040505;
    border: 2px solid #117ee4;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
button:hover{
    background-color:#e9eaeb;
    color: #102F5e;
}
button:hover > i{
    color: #102F5e;

}
button i{
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;
}
input,select{
    padding: .25rem .5rem;
}
.hide{
    display: none;
}
/*Cabeçalho do To-do-list */

 .todo-header{
    text-align: center;
    padding: 1.5rem auto .5rem;
    margin-top: 1rem;
}

/*formulário*/
.todo-list-container{
    width: 80%;
    max-width: 450px;
    margin: 3rem auto ;
    padding:1.5rem;
    background-color: var(--btn-hover);
    border-radius: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todo-list-title-first{
    display: block;
    text-align: center;
    font: normal 700 6vh var(--font1);
    padding-bottom: .6rem;
   
   
}

#todo-clinic-form,#editar-formulario{
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font: normal bold 2vh var(--font1);
    

}
.form-control{
    display: flex;
   

}
.form-control input{
    margin-right: .3rem;
}
#cancel-edit-btn{
    margin-top: 1rem;

}

/*to-do-barra de ferramentas*/

#search-bar{
    padding:1rem .5rem;
    border-bottom:1px solid var(--border-color);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;


}
#search-bar h4{
    font: normal bold 2vh var(--font1);
    margin-bottom: .5rem;
}
#search{
    
    padding-right:0;
    margin-right:-2.5rem;
    width: 108%;
    display: flex;
    flex-direction: column;
   

    


}


#search form{
    display: flex;
}
#search input{
    width: 20vh;
    margin-right: .5rem;
}


/*todo list*/
.todo{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    padding: 1rem;
    border-bottom:1px solid #ddd ;
    trasition:.3s;
}
.todo h3{
    flex:1;
    font-size: .9rem;


}
.todo button{
    margin-left: .4rem;

}
.done {
    background: #395159;
}
.done h3{
    color: #fff;
    text-decoration: line-through ;
    font-style: italic;
}
#footer-todo-list{
    width: 100%;
    display: block;
    background: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    
}
@media (min-width:600px) {
    main{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    /*Estilização do to-do-list*/ 
    
    #todo-clinic-form{
        background:#FDFDFD;
    }
    button{
        background: #FDFDFD;
        color:#102F5e;
        border: 2px solid #102F5e;
        padding: .3rem .6rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
    }
    button:hover{
        background-color:#102f5e;
        color: #fff;
    }
    button:hover > i{
        color: #fff;
    
    }
    button i{
        color: #102F5e;
        font-weight: bold;
        pointer-events: none;
    }
    input,select{
        padding: .25rem .5rem;
    }
    .hide{
        display: none;
    }
    /*formulário*/
    .todo-list-container{
        width: 100%;
        height: 80%;
        max-width: 450px;
        margin: .5rem auto ;
        padding:1.5rem;
        background-color: #FFF;
        border-radius: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .todo-list-title-first{
        text-align: center;
        font: normal 700 6vh var(--font1);
        padding-bottom: .2rem;
        border:none
    
    }
    
    #todo-clinic-form,#editar-formulario{
        font: normal bold 4vh var(--font1);
        
        margin:1rem auto .5rem;
        font-weight: bold;
    
    }
    .form-control{
        display: flex;
    
    }
    .form-control input{
        margin-right: .3rem;
    }
    #cancel-edit-btn{
        margin-top: 1rem;
    
    }
    
    /*to-do-barra de ferramentas*/
    
    #search-bar{
        width: 100%;
        padding:1rem auto;
        margin: 1rem -.5rem 0.5rem;
        border-bottom:1px solid #CCC;
        display:flex;
        justify-content: center;
        align-items: center;
       
  
    }
    #search-bar h4{
        font: normal bold 4vh var(--font1);
        color: black;
        margin-bottom: .5rem;
    }
    #search{
        
        padding-right:1rem;
        margin-right:-1rem;
        width: 65%;
        display: flex;
      
     
    
    
    }
    #search form{
        display: flex;
    }
    #search input{
        width: 100%;
        margin-right: .5rem;
    }
    #filtro{
        width: 35%;
        display: flex;
        flex-direction: column;
    }
    
    #filtro select{
        flex: 1;
    }
    
    /*todo list*/
    .todo{
        display: flex;
        justify-content:space-around ;
        align-items: center;
        padding: 1rem;
        border-bottom:1px solid #ddd ;
        trasition:.3s;
    }
    .todo h3{
        flex:1;
        font-size: .9rem;
    
    
    }
    .todo button{
        margin-left: .4rem;
    
    }
    .done {
        background: #395159;
    }
    .done h3{
        color: #fff;
        text-decoration: line-through ;
        font-style: italic;
    }
    #footer-todo-list{
       display: flex;
       justify-content: center;
       background: none;
    }
    
}




@media (min-width:1050px){
    main{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    /*Estilização do to-do-list*/ 
    
    #todo-clinic-form{
        background:#FDFDFD;
    }
    button{
        background: #FDFDFD;
        color:#102F5e;
        border: 2px solid #102F5e;
        padding: .3rem .6rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
    }
    button:hover{
        background-color:#102f5e;
        color: var(--btn-hover);
    }
    button:hover > i{
        color: var(--btn-hover);
    
    }
    button i{
        color: #102F5e;
        font-weight: bold;
        pointer-events: none;
    }
    input,select{
        padding: .25rem .5rem;
    }
    .hide{
        display: none;
    }
    /*formulário*/
    .todo-list-container{
        width: 90%;
        height: 80%;
        min-width: 280px; ;
        max-width: 450px;
        margin: 1rem auto ;
        padding:1.5rem;
        background-color: #FFF;
        border-radius: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .todo-list-title-first{
        text-align: center;
        font: normal 700 6vh var(--font1);
        padding-bottom: .2rem;
     
    
    }
    
    #todo-clinic-form,#editar-formulario{
        font: normal bold 4vh var(--font1);
        margin:1rem auto .5rem;
    
    
    }
    .form-control{
        display: flex;
    
    }
    .form-control input{
        margin-right: .3rem;
    }
    #cancel-edit-btn{
        margin-top: 1rem;
    
    }
    
    /*to-do-barra de ferramentas*/
    
    #search-bar{
        width: 90%;
        padding:1rem ;
        border-bottom:1px solid #CCC;
        display:flex;
        flex-direction: row;
    
  
    }
    #search-bar h4{
        font: normal bold 3vh var(--font1);
        color: black;
        margin-bottom: .5rem;
    }
    #search{
       
        padding-right:1rem;
        margin-right:1rem;
        width: 65%;
        display: flex;
     
    
    
    }
    #search form{
        display: flex;
    }
    #search input{
        width: 100%;
        margin-right: .5rem;
    }
   
    
    /*todo list*/
    .todo{
        display: flex;
        justify-content:space-around ;
        align-items: center;
        padding: 1rem;
        border-bottom:1px solid #ddd ;
        transition:.3s;
    }
    .todo h3{
        flex:1;
        font-size: .9rem;
    
    
    }
    .todo button{
        margin-left: .4rem;
    
    }
    .done {
        background: #395159;
    }
    .done h3{
        color: #fff;
        text-decoration: line-through ;
        font-style: italic;
    }
    #footer-todo-list{
       display: flex;
       justify-content: center;
    }

}
@media (min-width:1920px){
    main{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    /*Estilização do to-do-list*/ 
    
    #todo-clinic-form{
        background:#FDFDFD;
    }
    button{
        background: #FDFDFD;
        color:#102F5e;
        border: 2px solid #102F5e;
        padding: .3rem .6rem;
        font-size: 1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .4s;
    }
    button:hover{
        background-color:#102f5e;
        color: var(--btn-hover);
    }
    button:hover > i{
        color: var(--btn-hover);
    
    }
    button i{
        color: #102F5e;
        font-weight: bold;
        pointer-events: none;
    }
    input,select{
        padding: .25rem .5rem;
    }
    .hide{
        display: none;
    }
    /*formulário*/
    .todo-list-container{
        width: 90%;
        height: 80%;
        max-width: 450px;
        margin: 1rem auto ;
        padding:1.5rem;
        background-color: #FFF;
        border-radius: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .todo-list-title-first{
        text-align: center;
        font: normal 700 6vh var(--font1);
        padding-bottom: .2rem;
     
    
    }
    
    #todo-clinic-form,#editar-formulario{
        font: normal bold 2vh var(--font1);
        margin:1rem auto .5rem;
    
    
    }
    .form-control{
        display: flex;
    
    }
    .form-control input{
        margin-right: .3rem;
    }
    #cancel-edit-btn{
        margin-top: 1rem;
    
    }
    
    /*to-do-barra de ferramentas*/
    
    #search-bar{
        width: 90%;
        padding:1rem ;
        border-bottom:1px solid #CCC;
        display:flex;
        flex-direction: row;
    
  
    }
    #search-bar h4{
        font: normal bold 2vh var(--font1);
        color: black;
        margin-bottom: .5rem;
    }
    #search{
       
      
        width: 65%;
        display: flex;
     
    
    
    }
    #search form{
        display: flex;
        
    }
    #search input{
        width: 100%;
        margin-right: .5rem;
        
    }
   
    
    /*todo list*/
    .todo{
        display: flex;
        justify-content:space-around ;
        align-items: center;
        padding: 1rem;
        border-bottom:1px solid #ddd ;
        transition:.3s;
    }
    .todo h3{
        flex:1;
        font-size: .9rem;
    
    
    }
    .todo button{
        margin-left: .4rem;
    
    }
    .done {
        background: #395159;
    }
    .done h3{
        color: #fff;
        text-decoration: line-through ;
        font-style: italic;
    }
    #footer-todo-list{
       display: flex;
       justify-content: center;
    }

}




